@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f4f3ee;
}

#container-header {
  width: 100%;
  height: 160px;
}

.img-logo {
  width: 203px;
  height: 86px;
  padding-top: 36px;
}

#container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 126px;
  margin-left: 216px;
  margin-right: 216px;
}

nav {
  padding-top: 56px;
  font-family: "Instrument Serif", serif;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  background-color: #495057;
}

#container-main {
  position: relative;
  width: 100%;
  height: 883px;
  overflow: hidden;
}

.div-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.div-img video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.img-show {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container-h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
  margin-top: 170px;
}

.titulo-1 {
  font-family: "Instrument Serif", serif;
  font-size: 96px;
  font-style: normal;
  color: white;
}

/*
container-subtitulo-main-2 {

}
*/

.subtitulo-main-2 {
  color: white;
  font-family: "Instrument Serif", serif;
  font-size: 55px;
  text-align: center;
}

#container-main-2 {
  width: 100%;
  height: 2000px;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-right: 100px;
}

#noticia-destaque {
  position: relative;
  width: 631px;
  height: 330px;
  margin-top: 90px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(46, 45, 45, 0.5);
}

.img-destaque {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#noticias-laterais {
  width: 326px;
  height: 483px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.noticia-secundaria {
  position: absolute;
  position: relative;
  width: 100%;
  height: 227px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(46, 45, 45, 0.5);
}

.img-secundaria-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.img-secundaria-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.info-noticia {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0b090a;
  z-index: 5;
}

.h2-noticia {
  margin-left: 20px;
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
}

.titulo-noticia {
  margin-left: 20px;
  font-family: "Instrument Serif", serif;
  color: white;
  margin-top: 5px;
}

/*

#container-main-2-1 {
  position: relative;
  width: 308px;
  height: 254px;
  margin-top: 40px;
  overflow: hidden;
  border-radius: 8px;
  border: 3px solid black;
}

.img-noticia1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#comentario-noticia {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height 80px;
  background-color: #0b090a;
  z-index: 5;
}

.comentario-1 {
  margin-left: 10px;
  font-family: "Instrument Serif", serif;
  color: white;
}

#container-main-2-2 {
  position: relative;
  width: 308px;
  height: 254px;
  margin-top: 40px;
  overflow: hidden;
  border-radius: 8px;
  border: 3px solid black;
}

.img-noticia2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.comentario-2 {
  margin-left: 10px;
  font-family: "Instrument Serif", serif;
  color: white;
}

#container-main-2-3 {
  position: relative;
  width: 308px;
  height: 254px;
  margin-top: 40px;
  overflow: hidden;
  border-radius: 8px;
  border: 3px solid black;
}

.img-noticia3 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.comentario-3 {
  margin-left: 10px;
  font-family: "Instrument Serif", serif;
  color: white;
}