@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #f4f3ee;
    --cor-secundaria:  #001219;
    --cor-terciaria:    #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--cor-principal);
}

#container-header {
  width: 100%;
  height: 160px;
}

.img-logo {
  width: 203px;
  height: 86px;
  padding-top: 36px;
  transition: transform 0.5s;
}

.img-logo:hover {
    transform: scale(1.5);
}

#container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 126px;
  margin-left: 216px;
  margin-right: 216px;
}

nav {
  padding-top: 56px;
  font-family: "Instrument Serif", serif;
  font-size: 24px;
}

header a {
  text-decoration: none;
  color: var(--cor-secundaria);
  position: relative;
  transition: color 0.3s ease;
}

header a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px; 
  background-color: var(--cor-secundaria); 
  transition: width 0.3s ease;
}

header a:hover {
  color: var(--cor-secundaria);
}

header a:hover::after {
  width: 100%;
}

main {
  background-color: #495057;
}

#container-main {
  position: relative;
  width: 100%;
  height: 883px;
  overflow: hidden;
}

.div-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.div-img video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.img-show {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container-h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
  margin-top: 170px;
}

.titulo-1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 96px;
  font-style: normal;
  color: white;
}

#container-subtitulo-main-2 {
    display: flex;
    justify-content: center;
}


.subtitulo-main-2 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 55px;
  text-align: center;
  border-bottom: 4px solid var(--cor-terciaria);

}

#container-main-2 {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-right: 100px;
}

#article-container {
    display: flex;
    flex-direction: column;
}

#noticia-destaque {
  position: relative;
  width: 631px;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(46, 45, 45, 0.5);
}

.img-destaque {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#noticia-destaque-2 {
  position: relative;
  width: 631px;
  height: 330px;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(46, 45, 45, 0.5);
}

.img-destaque-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#noticias-laterais {
  width: 326px;
  height: 673px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.noticia-secundaria {
  position: absolute;
  position: relative;
  width: 100%;
  height: 227px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(46, 45, 45, 0.5);
}

.img-secundaria-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.img-secundaria-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.info-noticia {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0b090a;
  z-index: 5;
}

.h2-noticia {
  margin-left: 20px;
  font-size: 18px;
  color: var(--cor-terciaria);
  margin-bottom: 5px;
}

.titulo-noticia {
  margin-left: 20px;
  font-family: "Instrument Serif", serif;
  color: var(--cor-terciaria);
  margin-top: 5px;
}

#container-main-3 {
    width: 100%;
    height: 500px;
    background-color: var(--cor-principal);
}

#container-about {
    position: relative;
    width: 1000px;
    height: 429px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.container-text {
    position: absolute;
    margin-right: 500px;    	
    font-family: "Prompt", sans-serif;
    font-size: 18px;
}

.container-text h2 {
    border-bottom: 4px solid var(--cor-secundaria);
    width: 200px;
}

.container-img {
    position: absolute;
    margin-top: 100px;
    margin-left: 600px;
}

.img-logo-m {
    width: 253px;
    height: 298px;
    transition: transform 0.5s;
}

.img-logo-m:hover {
    transform: scale(1.5);
}

ul {
    list-style: none;
}

.icon {
    width: 100px;
    height: 50px;
}