@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #f4f3ee;
    --cor-secundaria:  #001219;
    --cor-terciaria:    #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--cor-principal);
}

#container-header {
  width: 100%;
  height: 160px;
}

.img-logo {
  width: 203px;
  height: 86px;
  padding-top: 36px;
  transition: transform 0.5s;
}

.img-logo:hover {
    transform: scale(1.5);
}

#container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 126px;
  margin-left: 216px;
  margin-right: 216px;
}

nav {
  padding-top: 56px;
  font-family: "Instrument Serif", serif;
  font-size: 24px;
}

header nav a {
  text-decoration: none;
  color: var(--cor-secundaria);
  position: relative;
  transition: color 0.3s ease;
}

header nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px; 
  background-color: var(--cor-secundaria); 
  transition: width 0.3s ease;
}

header nav a:hover {
  color: var(--cor-secundaria);
}

header nav a:hover::after {
  width: 100%;
}

#container-main {
  background: linear-gradient(to right, #212529 0%, #343A40 53%, #212529 91%); 
  width: 100%;
  height: 2400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 190px;
}

#container-text-img-1 {
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 130px;
}

#container-text {
  width: 600px;
  height: 100%;
}

.text-h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  color: white;
  word-wrap: break-word;
  margin-top: -10px;   
}

.text-p {
  font-family: "Prompt", sans-serif;
  font-size: 18px; 
  color: white;
  margin-top: -35px;
}

.img-banda {
  width: 550px;
  height: 400px;
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(25, 25, 25, 0.5);  
}

#container-text-img-2 {
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 130px;
}

#container-text-2 {
  width: 600px;
  height: 100%;
}

.text-h2-2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  color: white;
  word-wrap: break-word;
  margin-top: -10px;
}

.text-p-2 {
  font-family: "Prompt", sans-serif;
  font-size: 18px; 
  color: white;
  margin-top: -35px;

}

.img-banda-2 {
  width: 550px;
  height: 400px;
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(25, 25, 25, 0.5);  
}

#container-text-img-3 {
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 130px;
}

#container-text-3 {
  width: 600px;
  height: 100%;
}

.text-h2-3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  color: white;
  word-wrap: break-word;
  margin-top: -10px;
}

.text-p-3 {
  font-family: "Prompt", sans-serif;
  font-size: 18px; 
  color: white;
  margin-top: -35px;

}

.img-banda-3 {
  width: 550px;
  height: 400px;
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(25, 25, 25, 0.5);  
}

#container-text-img-4 {
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 130px;
}

#container-text-4 {
  width: 600px;
  height: 100%;
}

.text-h2-4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  color: white;
  word-wrap: break-word;
  margin-top: -10px;
}

.text-p-4 {
  font-family: "Prompt", sans-serif;
  font-size: 18px; 
  color: white;
  margin-top: -35px;

}

.img-banda-4 {
  width: 550px;
  height: 400px;
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(25, 25, 25, 0.5);  
}

#container-main-2 {
  background-color: var(--cor-principal);
  width: 100%;
  height: 1200px;
}

.subtitulo-membros {
  text-align: center;
  margin-top: 150px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  color: var(--cor-secundaria);
}

#container-main-2-1 {
  width: 1400px;
  height: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 0;
}

#container-membros, #container-ex {
  width: 50%;
  height: 100%;
  position: relative;
}


#container-caixa, #container-caixa-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  bottom: 0;
  align-items: center;
}

#container-fotos, #container-fotos-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: flex-start;
  gap: 8px;
}

#container-descricao, #container-descricao-2 {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  gap: 21px;
}

.descricao, .descricao-2 {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: var(--cor-secundaria);
}

#foto-1, #foto-2, #foto-3, #foto-4 {
  width: 25%;
  overflow: hidden;
}

.face {
  width: 100%;
  height: 520px;
  object-fit: cover;
}

#container-footer {
    width: 100%;
    height: 190px;
    background-color: black;
}

#container-footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-left: 216px;
    margin-right: 216px;
}

.paragrafo-footer {
    color: white;
    font-family: "Prompt", sans-serif;
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
  #container-header {
    height: auto;
  }

  #container-nav {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0;
  }

  nav {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
  }

  .img-logo {
    width: 150px;
    height: auto;
    padding-top: 20px;
  }

  #container-main {
    height: auto;
    gap: 100px;
    padding: 50px 0;
  }

  #container-text-img-1,
  #container-text-img-2,
  #container-text-img-3,
  #container-text-img-4 {
    width: 90%;
    height: auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  #container-text,
  #container-text-2,
  #container-text-3,
  #container-text-4 {
    width: 100%;
  }

  .text-h2,
  .text-h2-2,
  .text-h2-3,
  .text-h2-4 {
    font-size: 45px;
  }

  .text-p,
  .text-p-2,
  .text-p-3,
  .text-p-4 {
    font-size: 16px;
    margin-top: -10px;
  }

  .img-banda,
  .img-banda-2,
  .img-banda-3,
  .img-banda-4 {
    width: 100%;
    height: auto;
    border-radius: 18px;
  }

  #container-main-2 {
    height: auto;
    padding-bottom: 60px;
  }

  .subtitulo-membros {
    font-size: 50px;
    margin-top: 100px;
  }

  #container-main-2-1 {
    width: 95%;
    height: auto;
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }

  #container-membros,
  #container-ex {
    width: 100%;
    height: auto;
  }

  #container-fotos,
  #container-fotos-2 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  #foto-1,
  #foto-2,
  #foto-3,
  #foto-4 {
    width: 45%;
  }

  .face {
    height: 350px;
  }

  .descricao,
  .descricao-2 {
    font-size: 30px;
    text-align: center;
  }

  #container-footer {
    height: auto;
    padding: 20px 0;
  }

  #container-footer-nav {
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .paragrafo-footer {
    font-size: 14px;
    padding: 0 10px;
  }
}
