@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #f4f3ee;
    --cor-secundaria:  #001219;
    --cor-terciaria:    #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--cor-principal);
}

#container-header {
  width: 100%;
  height: 160px;
}

.img-logo {
  width: 203px;
  height: 86px;
  padding-top: 36px;
  transition: transform 0.5s;
}

.img-logo:hover {
    transform: scale(1.5);
}

#container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 126px;
  margin-left: 216px;
  margin-right: 216px;
}

nav {
  padding-top: 56px;
  font-family: "Instrument Serif", serif;
  font-size: 24px;
}

header nav a {
  text-decoration: none;
  color: var(--cor-secundaria);
  position: relative;
  transition: color 0.3s ease;
}

header nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px; 
  background-color: var(--cor-secundaria); 
  transition: width 0.3s ease;
}

header nav a:hover {
  color: var(--cor-secundaria);
}

header nav a:hover::after {
  width: 100%;
}

#container-main {
  background: linear-gradient(to right, #212529 0%, #343A40 53%, #212529 91%); 
  width: 100%;
  height: 2800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 190px;
}

#container-text-img-1 {
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 130px;
}

#container-text {
  width: 600px;
  height: 100%;
}

.text-h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  color: white;
  word-wrap: break-word;
  margin-top: -10px;   
}

.text-p {
  font-family: "Prompt", sans-serif;
  font-size: 18px; 
  color: white;
  margin-top: -35px;
}

.img-banda {
  width: 400px;
  height: 400px;
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(25, 25, 25, 0.5);
  margin-top: -30px;
}

#container-text-img-2 {
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 130px;
}

#container-text-2 {
  width: 600px;
  height: 100%;
}

.text-h2-2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  color: white;
  word-wrap: break-word;
  margin-top: -10px;
}

.text-p-2 {
  font-family: "Prompt", sans-serif;
  font-size: 18px; 
  color: white;
  margin-top: -35px;

}

.img-banda-2 {
  width: 550px;
  height: 400px;
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(25, 25, 25, 0.5);  
}

#container-text-img-3 {
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 130px;
}

#container-text-3 {
  width: 600px;
  height: 100%;
}

.text-h2-3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  color: white;
  word-wrap: break-word;
  margin-top: -10px;
}

.text-p-3 {
  font-family: "Prompt", sans-serif;
  font-size: 18px; 
  color: white;
  margin-top: -35px;

}

.img-banda-3 {
  width: 550px;
  height: 400px;
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(25, 25, 25, 0.5);  
}

/*
#container-text-img-1 {
  display: flex;
  flex-direction: row;
  gap: 7%;
  width: 90%;
  max-width: 1400px;
  margin-top: -1150px;
}

#container-text {
  width: 50%;
  margin-left: 100px; 
}

.text-h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4vw;
  font-style: normal;
  color: white;
  word-wrap: break-word;   
}

.text-p {
  font-family: "Prompt", sans-serif;
  font-size: 1.2rem; 
  color: white;
}

#container-img {
  width: 30%;
  margin-top: 40px; 
}

.img-banda {
  width: 100%;
  height: auto;
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(145, 136, 136, 0.5);
}