@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #f4f3ee;
    --cor-secundaria:  #001219;
    --cor-terciaria:    #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--cor-principal);
}

#container-header {
  width: 100%;
  height: 160px;
}

.img-logo {
  width: 203px;
  height: 86px;
  padding-top: 36px;
  transition: transform 0.5s;
}

.img-logo:hover {
    transform: scale(1.5);
}

#container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 126px;
  margin-left: 216px;
  margin-right: 216px;
}

nav {
  padding-top: 56px;
  font-family: "Instrument Serif", serif;
  font-size: 24px;
}

header nav a {
  text-decoration: none;
  color: var(--cor-secundaria);
  position: relative;
  transition: color 0.3s ease;
}

header nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px; 
  background-color: var(--cor-secundaria); 
  transition: width 0.3s ease;
}

header nav a:hover {
  color: var(--cor-secundaria);
}

header nav a:hover::after {
  width: 100%;
}

#container-main {
  background-color: #191919; 
  background-image: linear-gradient(to bottom, #191919, #2a2a2a);
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.subtitulo-main {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#container-album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);    
  gap: 50px; 
  width: 850px;
  height: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.album-item {
  background-color: #555555;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.album-item img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 6px 6px 0 0;
}

.album-item h3 {
    margin-top: 0; 
    color: white;
    margin-left: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
 
}

.album-item h4 {
    color: #cccccc;
    margin: 5px;
    margin-left: 10px;
    font-family: "Prompt", sans-serif;
    font-size: 15px;

}

.album-item h4 a{
    color: #cccccc;
    text-decoration: none;
}

#container-album-1 {
  width: 100%;
  height: 750px;
  background-image: 
        linear-gradient(to bottom, #ffee00, #ffff01);
  display: flex;
  justify-content: center;
  align-items: center;
}

#article-container{
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

#album-article{
  width: 500px;
  height: 500px;
}

#album-article h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

#album-article p, .musicas-article{
  font-family: "Prompt", sans-serif;
}

#album-article a{
  color: black;
  font-size: 20px;
}

#album-article a:hover {
  color: #645e54;
}

.musicas-article{
  padding: 10px;
}

#album-aside img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

#container-album-2 {
  width: 100%;
  height: 950px;
  background-image: linear-gradient(to bottom, #191919, #2a2a2a);
  display: flex;
  justify-content: center;
}

#album-article-2 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: white;
}

#album-article-2 p, .musicas-article-2{
  font-family: "Prompt", sans-serif;
  color: white;
}

#album-article-2 a{
  color: white;
  font-size: 20px;
}

#album-article-2 a:hover {
  color: #c24105;
}

#article-container-2 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-2 {
  width: 500px;
  height: 500px;
}

.musicas-article-2 {
  padding: 10px;
}

#album-aside-2 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

#container-album-3 {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(to bottom, #e9ecef, #f8f9fa);
  display: flex;
  justify-content: center;
}

#album-article-3 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: black;
}

#album-article-3 p, .musicas-article-3{
  font-family: "Prompt", sans-serif;
  color: black;
}

#album-article-3 a{
  color: black;
  font-size: 20px;
}

#album-article-3 a:hover {
  color: #a51b20;
}

#article-container-3 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-3 {
  width: 500px;
  height: 500px;
}

.musicas-article-3 {
  padding: 10px;
}

#album-aside-3 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

#container-album-4 {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(to bottom, #1b2021, #0c1821);
  display: flex;
  justify-content: center;
}

#album-article-4 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #b4141a;
}

#album-article-4 p, .musicas-article-4{
  font-family: "Prompt", sans-serif;
  color: #b4141a;
}

#article-container-4 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-4 {
  width: 500px;
  height: 500px;
}

.musicas-article-4 {
  padding: 10px;
}

#album-aside-4 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

#album-article-4 a{
  color: #b4141a;
  font-size: 20px;
}

#album-article-4 a:hover {
  color: white;
}

#container-album-5 {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to bottom, #efefed, #9fa1a2);
  display: flex;
  justify-content: center;
}

#album-article-5 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #4a3e32;
}

#album-article-5 p, .musicas-article-5{
  font-family: "Prompt", sans-serif;
  color: #4a3e32;
}

#article-container-5 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-5 {
  width: 500px;
  height: 500px;
}

.musicas-article-5 {
  padding: 10px;
}

#album-aside-5 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

#album-article-5 a{
  color: #4a3e32;
  font-size: 20px;
}

#album-article-5 a:hover {
  color: #adafb0;
}

#container-album-6 {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to bottom, #f26225, #f36121);
  display: flex;
  justify-content: center;
}

#album-article-6 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #000100;
}

#album-article-6 p, .musicas-article-6{
  font-family: "Prompt", sans-serif;
  color: #000100;
}

#article-container-6 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-6 {
  width: 500px;
  height: 500px;
}

.musicas-article-6 {
  padding: 10px;
}

#album-aside-6 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

#album-article-6 a{
  color: #000100;
  font-size: 20px;
}

#album-article-6 a:hover {
  color: #d32036;
}