@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #f4f3ee;
    --cor-secundaria:  #001219;
    --cor-terciaria:    #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--cor-principal);
}

#container-header {
  width: 100%;
  height: 160px;
}

.img-logo {
  width: 203px;
  height: 86px;
  padding-top: 36px;
  transition: transform 0.5s;
}

.img-logo:hover {
    transform: scale(1.5);
}

#container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 126px;
  margin-left: 216px;
  margin-right: 216px;
}

nav {
  padding-top: 56px;
  font-family: "Instrument Serif", serif;
  font-size: 24px;
}

header nav a {
  text-decoration: none;
  color: var(--cor-secundaria);
  position: relative;
  transition: color 0.3s ease;
}

header nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px; 
  background-color: var(--cor-secundaria); 
  transition: width 0.3s ease;
}

header nav a:hover {
  color: var(--cor-secundaria);
}

header nav a:hover::after {
  width: 100%;
}

#container-main {
  background-color: #191919; 
  background-image: linear-gradient(to bottom, #191919, #2a2a2a);
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.subtitulo-main {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#container-album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);    
  gap: 50px; 
  width: 850px;
  height: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.album-item {
  background-color: #555555;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.album-item img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 6px 6px 0 0;
}

.album-item h3 {
    margin-top: 0; 
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
 
}

.album-item h4 {
    color: #cccccc;
    margin: 5px;
    margin-left: 10px;
    font-family: "Prompt", sans-serif;
    font-size: 15px;

}

.album-item h4 a{
    color: #cccccc;
    text-decoration: none;
}

#container-album-1 {
  width: 100%;
  height: 750px;
  background-image: 
        linear-gradient(to bottom, #ffee00, #ffff01);
  display: flex;
  justify-content: center;
  align-items: center;
}

#article-container{
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

#album-article{
  width: 500px;
  height: 500px;
  margin-top: 100px;
}

#album-article h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

#album-article p, .musicas-article{
  font-family: "Prompt", sans-serif;
}

#album-article a{
  color: black;
  font-size: 20px;
}

#album-article a:hover {
  color: #645e54;
}

.musicas-article{
  padding: 10px;
}

#album-aside img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

.iframe-spotify-1 {
  margin-top: 40px;
}

#container-album-2 {
  width: 100%;
  height: 950px;
  background-image: linear-gradient(to bottom, #191919, #2a2a2a);
  display: flex;
  justify-content: center;
}

#album-article-2 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: white;
}

#album-article-2 p, .musicas-article-2{
  font-family: "Prompt", sans-serif;
  color: white;
}

#album-article-2 a{
  color: white;
  font-size: 20px;
}

#album-article-2 a:hover {
  color: #c24105;
}

#article-container-2 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-2 {
  width: 500px;
  height: 500px;
}

.musicas-article-2 {
  padding: 10px;
}

#album-aside-2 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

.iframe-spotify-2 {
  margin-top: 40px;
}

#container-album-3 {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(to bottom, #e9ecef, #f8f9fa);
  display: flex;
  justify-content: center;
}

#album-article-3 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: black;
}

#album-article-3 p, .musicas-article-3{
  font-family: "Prompt", sans-serif;
  color: black;
}

#album-article-3 a{
  color: black;
  font-size: 20px;
}

#album-article-3 a:hover {
  color: #a51b20;
}

#article-container-3 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-3 {
  width: 500px;
  height: 500px;
}

.musicas-article-3 {
  padding: 10px;
}

#album-aside-3 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 30px;
}

.iframe-spotify-3 {
  margin-top: 40px;
}

#container-album-4 {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(to bottom, #1b2021, #0c1821);
  display: flex;
  justify-content: center;
}

#album-article-4 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #b4141a;
}

#album-article-4 p, .musicas-article-4{
  font-family: "Prompt", sans-serif;
  color: #b4141a;
}

#article-container-4 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-4 {
  width: 500px;
  height: 500px;
}

.musicas-article-4 {
  padding: 10px;
}

#album-aside-4 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 30px;
}

#album-article-4 a{
  color: #b4141a;
  font-size: 20px;
}

#album-article-4 a:hover {
  color: white;
}

.iframe-spotify-4 {
  margin-top: 40px;
}

#container-album-5 {
  width: 100%;
  height: 730px;
  background-image: linear-gradient(to bottom, #efefed, #9fa1a2);
  display: flex;
  justify-content: center;
}

#album-article-5 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #4a3e32;
}

#album-article-5 p, .musicas-article-5{
  font-family: "Prompt", sans-serif;
  color: #4a3e32;
}

#article-container-5 {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
}

#album-article-5 {
  width: 500px;
  height: 500px;
}

.musicas-article-5 {
  padding: 10px;
}

#album-aside-5 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 10px;
}

#album-article-5 a{
  color: #4a3e32;
  font-size: 20px;
}

#album-article-5 a:hover {
  color: #adafb0;
}

.iframe-spotify-5 {
  margin-top: 40px;
}

#container-album-6 {
  width: 100%;
  height: 730px;
  background-image: linear-gradient(to bottom, #f26225, #f36121);
  display: flex;
  justify-content: center;
}

#album-article-6 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #000100;
}

#album-article-6 p, .musicas-article-6{
  font-family: "Prompt", sans-serif;
  color: #000100;
}

#article-container-6 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-6 {
  width: 500px;
  height: 500px;
}

.musicas-article-6 {
  padding: 10px;
}

#album-aside-6 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 10px;
}

#album-article-6 a{
  color: #000100;
  font-size: 20px;
}

#album-article-6 a:hover {
  color: #d32036;
}

.iframe-spotify-6 {
  margin-top: 40px;
}

#container-album-7 {
  width: 100%;
  height: 860px;
  background-image: linear-gradient(to bottom, #000000, #212529);
  display: flex;
  justify-content: center;
}

#album-article-7 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: white;
}

#album-article-7 p, .musicas-article-7{
  font-family: "Prompt", sans-serif;
  color: white;
}

#article-container-7 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-7 {
  width: 500px;
  height: 500px;
}

.musicas-article-7 {
  padding: 10px;
}

#album-aside-7 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

#album-article-7 a{
  color: white;
  font-size: 20px;
}

#album-article-7 a:hover {
  color: gray;
}

.iframe-spotify-7 {
  margin-top: 40px;
}

#container-album-8 {
  width: 100%;
  height: 990px;
  background-image: linear-gradient(to right, #181f23, #3f4459);
  display: flex;
  justify-content: center;
}

#album-article-8 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: white;
}

#album-article-8 p, .musicas-article-8{
  font-family: "Prompt", sans-serif;
  color: white;
}

#article-container-8 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-8 {
  width: 500px;
  height: 500px;
}

.musicas-article-8 {
  padding: 10px;
}

#album-aside-8 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 90px;
}

#album-article-8 a{
  color: white;
  font-size: 20px;
}

#album-article-8 a:hover {
  color: #8bcde3;
}

.iframe-spotify-8 {
  margin-top: 40px;
}

#container-album-9 {
  width: 100%;
  height: 730px;
  background-image: linear-gradient(to bottom, #97151f, #efab12);
  display: flex;
  justify-content: center;
}

#album-article-9 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #dcdcdc;
}

#album-article-9 p, .musicas-article-9{
  font-family: "Prompt", sans-serif;
  color: #dcdcdc;
}

#article-container-9 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-9 {
  width: 500px;
  height: 500px;
}

.musicas-article-9 {
  padding: 10px;
}

#album-aside-9 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 10px;
}

#album-article-9 a{
  color: #dcdcdc;
  font-size: 20px;
}

#album-article-9 a:hover {
  color: #f8ba15;
}

.iframe-spotify-9 {
  margin-top: 40px;
}

#container-album-10 {
  width: 100%;
  height: 730px;
  background-image: linear-gradient(to left, #ac2332, #d39475);
  display: flex;
  justify-content: center;
}

#album-article-10 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #151517;
}

#album-article-10 p, .musicas-article-10{
  font-family: "Prompt", sans-serif;
  color: #151517;
}

#article-container-10 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-10 {
  width: 500px;
  height: 500px;
}

.musicas-article-10 {
  padding: 10px;
}

#album-aside-10 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 10px;
}

#album-article-10 a{
  color: #151517;
  font-size: 20px;
}

#album-article-10 a:hover {
  color: #e38d6c;
}

.iframe-spotify-10 {
  margin-top: 40px;
}

#container-album-11 {
  width: 100%;
  height: 730px;
  background-color: #212529;
  display: flex;
  justify-content: center;
}

#album-article-11 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: white;
}

#album-article-11 p, .musicas-article-11{
  font-family: "Prompt", sans-serif;
  color: white;
}

#article-container-11 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-11 {
  width: 500px;
  height: 500px;
}

.musicas-article-11 {
  padding: 10px;
}

#album-aside-11 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 10px;
}

#album-article-11 a{
  color: white;
  font-size: 20px;
}

#album-article-11 a:hover {
  color: black;
}

.iframe-spotify-11 {
  margin-top: 40px;
}

#container-album-12 {
  width: 100%;
  height: 730px;
  background-image: linear-gradient(to bottom, #d7d7cb, #afaea8);
  display: flex;
  justify-content: center;
}

#album-article-12 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #020200;
}

#album-article-12 p, .musicas-article-12{
  font-family: "Prompt", sans-serif;
  color: #020200;
}

#article-container-12 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#album-article-12 {
  width: 500px;
  height: 500px;
}

.musicas-article-12 {
  padding: 10px;
}

#album-aside-12 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 10px;
}

#album-article-12 a{
  color: #020200;
  font-size: 20px;
}

#album-article-12 a:hover {
  color: #aecc79;
}

.iframe-spotify-12 {
  margin-top: 40px;
}


#container-album-13 {
  width: 100%;
  height: 770px;
  background-image: linear-gradient(to right, #b1adb1, #d6d2c6);
  display: flex;
  justify-content: center;
}

#album-article-13 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #020200;
}

#album-article-13 p, .musicas-article-13{
  font-family: "Prompt", sans-serif;
  color: #020200;
}

#article-container-13 {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

#album-article-13 {
  width: 500px;
  height: 500px;
}

.musicas-article-13 {
  padding: 10px;
}

#album-aside-13 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 10px;
}

#album-article-13 a{
  color: #020200;
  font-size: 20px;
}

#album-article-13 a:hover {
  color: #9c5f36;
}

.iframe-spotify-13 {
  margin-top: 40px;
}

#container-album-14 {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to bottom, #242720, #962d3b);
  display: flex;
  justify-content: center;
}

#album-article-14 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #eee3cf;
}

#album-article-14 p, .musicas-article-14{
  font-family: "Prompt", sans-serif;
  color: #eee3cf;
}

#article-container-14 {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

#album-article-14 {
  width: 500px;
  height: 500px;
}

.musicas-article-14 {
  padding: 10px;
}

#album-aside-14 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 40px;
}

#album-article-14 a{
  color: #eee3cf;
  font-size: 20px;
}

#album-article-14 a:hover {
  color: #f8ae43;
}

.player-personalizado {
  background-color: transparent; 
  padding: 10px;
  border-radius: 10px;
}

#play-pause-btn {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 28px;
  color: #333;
  padding: 8px 15px;
  cursor: pointer;
}

#container-album-15 {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to right, #1a102c, #2d2a71);
  display: flex;
  justify-content: center;
}

#album-article-15 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #bdbdc9;
}

#album-article-15 p, .musicas-article-15{
  font-family: "Prompt", sans-serif;
  color: #bdbdc9;
}

#article-container-15 {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

#album-article-15 {
  width: 500px;
  height: 500px;
}

.musicas-article-15 {
  padding: 10px;
}

#album-aside-15 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 40px;
}

#album-article-15 a{
  color: #bdbdc9;
  font-size: 20px;
}

#album-article-15 a:hover {
  color: #0d0c12;
}

#container-album-16 {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to bottom, #0c0809, #c9332c);
  display: flex;
  justify-content: center;
}

#album-article-16 h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #e6e6da;
}

#album-article-16 p, .musicas-article-16{
  font-family: "Prompt", sans-serif;
  color: #e6e6da;
}

#article-container-16 {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

#album-article-16 {
  width: 500px;
  height: 500px;
}

.musicas-article-16 {
  padding: 10px;
}

#album-aside-16 img {
  width: 350px;
  border-radius: 5px;
  margin-top: 40px;
}

#album-article-16 a{
  color: #e6e6da;
  font-size: 20px;
}

#album-article-16 a:hover {
  color: #c9332c;
}

.icon {
    width: 50px;
    height: 50px;
}

#container-footer {
    width: 100%;
    height: 190px;
    background-color: black;
}

#container-footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-left: 216px;
    margin-right: 216px;
}

.paragrafo-footer {
    color: white;
    font-family: "Prompt", sans-serif;
    text-align: center;
}

@media (max-width: 600px) {
  #container-header {
    height: auto;
    padding: 20px 0;
  }

  .img-logo {
    width: 150px;
    height: auto;
    padding-top: 10px;
  }

  #container-nav {
    flex-direction: row;
    align-items: center;
    gap: 35px;
    margin: 0;
  }

  nav {
    padding-top: 10px;
    font-size: 18px;
  }

  #container-main {
    height: 2200px;
  }

  .subtitulo-main {
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
  }

  #container-album {
    grid-template-columns: 1fr 1fr 1fr;
    width: 450px;
    height: auto;
    gap: 20px;
    padding: 0 20px;
  }

  .album-item {
    padding-bottom: 10px;
  }

  .album-item h3 {
    font-size: 20px;
  }

  .album-item h4 {
    font-size: 13px;
  }

  #container-footer {
    height: auto;
    padding: 20px 0;
  }

  #container-footer-nav {
    flex-direction: row;
    gap: 15px;
    margin: 0;
  }

  .paragrafo-footer {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #container-header {
    height: auto;
    padding: 20px 0;
  }

  .img-logo {
    width: 180px;
    height: auto;
    padding-top: 15px;
  }

  #container-nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0;
  }

  nav {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
  }

  #container-main {
    height: auto;
    padding-bottom: 100px;
  }

  .subtitulo-main {
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
  }

  #container-album {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: auto;
    gap: 30px;
    padding: 0 20px;
  }

  .album-item h3 {
    font-size: 22px;
  }

  .album-item h4 {
    font-size: 14px;
  }

  #article-container,
  #article-container-2,
  #article-container-3,
  #article-container-4,
  #article-container-5,
  #article-container-6,
  #article-container-7,
  #article-container-8,
  #article-container-9,
  #article-container-10,
  #article-container-11,
  #article-container-12,
  #article-container-13,
  #article-container-14,
  #article-container-15,
  #article-container-16 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
  }

  #album-article,
  #album-article-2,
  #album-article-3,
  #album-article-4,
  #album-article-5,
  #album-article-6,
  #album-article-7,
  #album-article-8,
  #album-article-9,
  #album-article-10,
  #album-article-11,
  #album-article-12,
  #album-article-13,
  #album-article-14,
  #album-article-15,
  #album-article-16 {
    width: 90%;
    height: auto;
  }

  #album-aside img,
  #album-aside-2 img,
  #album-aside-3 img,
  #album-aside-4 img,
  #album-aside-5 img,
  #album-aside-6 img,
  #album-aside-7 img,
  #album-aside-8 img,
  #album-aside-9 img,
  #album-aside-10 img,
  #album-aside-11 img,
  #album-aside-12 img,
  #album-aside-13 img,
  #album-aside-14 img,
  #album-aside-15 img,
  #album-aside-16 img {
    width: 80%;
    margin-top: 40px;
  }

  .iframe-spotify-1,
  .iframe-spotify-2,
  .iframe-spotify-3,
  .iframe-spotify-4,
  .iframe-spotify-5,
  .iframe-spotify-6,
  .iframe-spotify-7,
  .iframe-spotify-8,
  .iframe-spotify-9,
  .iframe-spotify-10,
  .iframe-spotify-11,
  .iframe-spotify-12,
  .iframe-spotify-13,
  .iframe-spotify-14,
  .iframe-spotify-15,
  .iframe-spotify-16 {
    width: 90%;
  }

  #container-footer {
    height: auto;
    padding: 25px 0;
  }

  #container-footer-nav {
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
  }

  .icon {
    width: 45px;
    height: 45px;
  }

  .paragrafo-footer {
    font-size: 15px;
    padding: 0 10px;
  }
}
