@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #f4f3ee;
    --cor-secundaria:  #001219;
    --cor-terciaria:    #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--cor-principal);
}

#container-header {
  width: 100%;
  height: 160px;
}

.img-logo {
  width: 203px;
  height: 86px;
  padding-top: 36px;
  transition: transform 0.5s;
}

.img-logo:hover {
    transform: scale(1.5);
}

#container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 126px;
  margin-left: 216px;
  margin-right: 216px;
}

nav {
  padding-top: 56px;
  font-family: "Instrument Serif", serif;
  font-size: 24px;
}

header nav a {
  text-decoration: none;
  color: var(--cor-secundaria);
  position: relative;
  transition: color 0.3s ease;
}

header nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px; 
  background-color: var(--cor-secundaria); 
  transition: width 0.3s ease;
}

header nav a:hover {
  color: var(--cor-secundaria);
}

header nav a:hover::after {
  width: 100%;
}

#container-img {
  width: 100%;
  height: 1000px;
  background-image: url(/img/metallica_show2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  margin-top: 250px;
  margin-left: -550px;
}

.botao button{
  background: none;
  border-radius: 5px;
  border: 2px solid white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  margin-left: -480px;
}

.botao button a{
  color: white;
  text-decoration: none;
}

.fundo-preto {
  height: 20px;
  width: 100%;
  background-color: black;
}

#container-datas {
  width: 100%;
  height: 1000px;
  background: linear-gradient(to bottom, black, #343A40);
  color: white;
  overflow: hidden;
}

#container-datas h2 {
  margin-top: 0;
  margin-top: 100px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
}

.data-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 200px;
  width: 1237px;
  height: 200px;
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
}

.data-1 h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  margin-left: 30px;
}

.data-mes {
  font-family: "Prompt", sans-serif;
}


.local {
  margin-left: 320px;
}